/*Variáveis*/
:root{
    --vermelho: #E50914;
    --preta: #141414;
    --cinza: #aaa;
    --branco: #fff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Elementos bases*/
body{
    background: var(--preta);
    font-family: 'Ariel', Times, serif;
    color: var(--branco);
}

header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .login{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 3%;
}

header .login .logo{
    margin-right: 10%;
    color: var(--vermelho);
    font-family: 'Arial Black';
    font-size: 40px;
}

header i{
    color: var(--cinza);
    font-family: 'Arial Black';
    font-size: 35px;
}

/*Navbar*/
header nav a{
    text-decoration: none;
    color: var(--cinza);
    margin-right: 10px;
}

header nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header nav a:hover{
    color: var(--branco);
}


/*Filme principal*/
.filme-principal{
    font-size: 20px;
    background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.90)100%), url(../img/madmax_backgroud.jpeg);
    height: 500px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .descricao{
    margin-bottom: 5%;
    margin-top: 1%;
}

.filme-principal .titulo{
    margin-top: 5%;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.filme-principal h4 {
    font-size: 25px;
    margin-top: 4%;
}



.botao i{
    margin-right: 5px;
}

.container{
    margin-left: 20px;
}

.filme-principal .container{
    width: 70%;
}

/*Box Filme*/

.box-filme{
    height: 100%;
    width: 100%;
    display: block;
}

.botao {
    display: inline-block;
    padding: 0.5em 1.5em;
    text-decoration: none;
    border-radius: 50px;
    cursor: pointer;
    outline: none;
    margin-top: 1em;
    text-transform: uppercase;
    font-weight: small;
    transition: .3s ease all; 
    color: #fff;
    background-color: rgba(0,0,0,.50);
  }

  .botao:hover {
    background-color: #fff;
    color: #141414;
  }

  